<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">


    <title>Title</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="layui/layui.js"></script>
    <script src="jquery-3.6.0.min.js"></script>
    <style>

        #file-p{

            background-color: khaki;
        }
        img{
            width: 100px;
            height: 86px;
            border:0.5px solid #00FF00;
        }
       a{

           width:80px;
           overflow: hidden;
           white-space: nowrap;
           -ms-text-overflow: ellipsis;
           text-overflow: ellipsis;
            display: inline-block;
           margin: 5px;
           text-align: center;



        }


    </style>
</head>
<body>

    <div class="layui-upload">
        <button type="button" class="layui-btn layui-bg-red" id="add-file">AddFile</button><button type="button" class="layui-btn layui-bg-orange" id="file-action">upload</button>
        <img  style="width: 200px;height:200px;border: 1px solid yellow"  id="upload-img">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>fileName</th>
                    <th>size</th>
                    <th>status</th>
                </tr>

            </thead>
            <tbody id="table-list"></tbody>

        </table>
    </div>
    <div class="layui-container">
        <div class="layui-row">
            <div class=" layui-col-md12 layui-col-sm12" id="file-p">
                <div id="fileArea"></div>
            </div>

        </div>

    </div>

    <button type="button" class="layui-btn layui-btn-radius  " id="getF"><i  class="layui-icon layui-icon-download-circle"></i> </button>
</body>
<script>


    function checkPictureType(fileName){
        return /(jpg|png|jpeg|bmp|tif)$/.test(fileName);
    }

    function checkCompressType(fileName){
        return /(rar|7z|zip|gt)$/.test(fileName);
    }

    function checkExcelType(fileName){
        return /(xls|xlsx|xlts|csv|doc)$/.test(fileName);
    }
    function checkVideoType(fileName){
        return /(avi|mp4|mp3|rmvb|rm|mkv|webm|MOV)$/.test(fileName);
    }
    function checkPdfType(fileName){
        return /(pdf|ppt|pptx)$/.test(fileName);
    }
    function checkTxtType(fileName){
        return /(txt|c|py)$/.test(fileName);
    }
    function checkProgramType(fileName){
        return /(exe|jar)$/.test(fileName);
    }

    layui.use(["element","upload","layer"],function(){
        let element=layui.element
            ,upload=layui.upload
            ,layer=layui.layer;

        upload.render({
            elem:"#add-file"
            ,accept:"file"
            ,node:$("#table-list")
            ,auto:false
            ,multiple:true
            ,bindAction:"#file-action"
            ,url:"api/upload"
            ,choose:function(obj){
                let that=this

                console.log(this)
                // obj.preview(function(index,file,result){
                //     console.log(file)
                //     $("#upload-img").attr("src",result)
                //     let str="<tr><td>"+file.name+"</td><td>"+Math.floor(file.size*100/1024)/100+"</td><td><div class='layui-progress' lay-showPercent='true' lay-filter='progress-"+index+"'><div  class='layui-progress-bar ' lay-percent=''></div></div></td></tr>"
                //     that.node.append(str)
                //     console.log(this)
                //     element.render('progress')
                //
                // });
                let files=this.files=obj.pushFile()
                console.log(files)

                console.log("files.length:"+files.data)
                console.log(obj)

                for(let index in files){
                    //$("#upload-img").attr("src",files[index])
                    let str="<tr><td>"+files[index].name+"</td><td>"+Math.floor(files[index].size*100/1024)/100+"</td><td><div class='layui-progress' lay-showPercent='true' lay-filter='progress-"+index+"'><div  class='layui-progress-bar ' lay-percent=''></div></div></td></tr>"
                    that.node.append(str)
                }
                element.render('progress')


            },progress:function(n,elem,info,index){
                console.log(n+"_"+index)
                element.progress("progress-"+index,n+"%")

            },done:function(obj){
                console.log(obj)
                layer.msg(JSON.stringify(obj))
            }
        });
    });

</script>


<script>
    layui.use(['element'],function () {
        let element=layui.element;

    })

    $("#getF").click(function(){
        getFile()
    })

    function getFile(path) {
        console.log("path:"+path)
        
        $.ajax({
            url:"getFiles",
            data:"path="+path,
            dataType:"json",
            success:function(res){
               // layer.msg(JSON.stringify(res.data))
                console.log(res)
                let data=res.data
                setSub(data)


            },error:function(err){

            }
        })
    }

    function setSub(data){
        let doc=$("#fileArea")

        doc.empty();
        for(let i=0;i<data.length;i++){
            let subTitle
            let endTitle=subTitle=data[i].substr(data[i])//<i style='font-size: 80px' class='layui-icon layui-icon-file' id='i1'> </i>
            let pug;
            let   html="<img title="+subTitle+" src="+pug+">";;

        if(endTitle.indexOf("/")!=-1){
                console.log("is dir")
                html=html.replace(undefined,"image/folder.png")
                pug= 'href=javascript:getFile(\"'+data[i]+'\")'
        }else if(data[i].indexOf(".")!=-1){
                endTitle=data[i].substr(data[i].lastIndexOf(".")+1).toLowerCase();
                subTitle=data[i].substr(0,data[i].lastIndexOf("."));

                if(checkPictureType(endTitle)){

                   // html=html.replace(undefined,data[i])"image/pic.png"
                    html=html.replace(undefined,data[i])
                }else if(checkExcelType(endTitle)){
                    html=html.replace(undefined,"image/exce1.png")
                }else if(checkProgramType(endTitle)){
                    html=html.replace(undefined,"image/program1.png")
                }else if(checkCompressType(endTitle)){
                    html=html.replace(undefined,"image/compress.png")
                }else if(checkPdfType(endTitle)){
                    html=html.replace(undefined,"image/pdf.png")
                }else if(checkVideoType(endTitle)){
                    html=html.replace(undefined,"image/video.png")
                }
                pug= 'href="download?filePath='+data[i]+"\""
            }

            doc.append("<a  class='layui-anim layui-anim-rotate' "+pug+"  title='"+data[i]+"'><p>"+html+"</p>"+data[i]+"</a>")
        }
    }


</script>
</html>